{% extends "visite/main.html" %}

{% block title %}404{% endblock title %}

{% block content %}
<section class="avform3">

        <h1> {{lieu.ville}} </h1>
    <br>
        <h6>{{lieu.ville}} et est situé en  {{lieu.pays}}. Elle accuellit {{lieu.visite_par_an}} visitateurs par an. </h6>
    <br>
        <h3> commentaires : </h3>
    <br>
        <h6> {{lieu.commentaires_faits}}</h6>



        <a href="/ajoutcategorie/"><button class="button1"> AJOUTER UN MONUMENT</button></a>

    <br>
    <br>
        <h2>
            Liste des monuments de {{ lieu.ville }}
        </h2>
    <br>
        <table>
            {% for i in monuments %}




            <tr class="tableau2"><td>{{i}}</td>
                <td><a href="/visite/affichemonuments/{{i.id}}/"> afficher </a></td>
                <td><a href="/visite/deletemonuments/{{i.id}}/"> supprimer </a></td>
                <td><a href="/visite/updatemonuments/{{i.id}}/"> mettre a jour </a></td>
            </tr>

            {% endfor %}
        </table>

</section>
{% endblock %}