<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="icon" href="{%static 'favicon/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Page d'Acceuil{% endblock %}</title>
</head>
<body>
    <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
            <p class="menu cta">Menu</p>
    </header>
        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Services</a>
                <a href="#">Projects</a>
                <a href="#">About</a>
            </div>
        </div>
        <script type="text/javascript" src="{%static 'js/mobile_view.js' %}"></script>

<form method="post" action="">
        {% csrf_token %} <!-- code permettant de protéger votre application en évitant
de rejouer un formulaire avec des droits différents -->
        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="Envoyer la requête"\>
    </form>
</body>
</html>