<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/header.css' %}">
    <link rel="icon" href="{%static 'favicon/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Page d'Acceuil{% endblock %}</title>
</head>
<body>
    <header>
        <a class="logo" href="/"><img src="{%static 'image/logo.svg' %}" alt="logo"></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
            <a class="cta" href="#">Contact</a>
            <p class="menu cta">Menu</p>
    </header>
        <div id="mobile_menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay_content">
                <a href="#">Services</a>
                <a href="#">Projects</a>
                <a href="#">About</a>
            </div>
        </div>
        <script type="text/javascript" src="{%static 'js/mobile_view.js' %}"></script>
</body>
</html>